<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/stylesheet.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <script src="{{ "/assets/javascript/typing.js" | relative_url }}"></script>
    <style lang='windi'>
      a, button, input, textarea {
        @apply focus:outline-mint-green focus:ring-bay-leaf;
      }

      .app-link {
        @apply text-mint-green transition hover:text-bay-leaf
      }

      .app-btn {
        @apply font-bold bg-mint-green text-scarlet-gum transition hover:bg-bay-leaf hover:border-bay-leaf border-mint-green transition border-2 rounded p-2 cursor-pointer;
      }

      .app-section-container {
        @apply pt-24 px-4 mb-24;
      }

      .app-articles {
        @apply pt-24 px-4 md:pt-32;
      }

      .app-article {
        @apply w-full md:w-1/2 mb-24 md:px-8 md:mb-32;
      }

      .app-input-text {
        @apply border-white;
      }
    </style>
    {% seo %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
